@import "tailwindcss";

@import "../public//fonts/dm-sans.css";
@import "../public/fonts/inter.css";
@import "../public/fonts/lato.css";
@import "../public/fonts/lexend.css";
@import "../public/fonts/manrope.css";
@import "../public/fonts/monsterrat.css";
@import "../public/fonts/open-sans.css";
@import "../public/fonts/poppins.css";
@import "../public/fonts/raleway.css";
@import "../public/fonts/roboto.css";
@import "../public/fonts/satoshi.css";
@import "../public/fonts/space-grotesk.css";
@import "../public/fonts/switzer.css";
@import "../public/fonts/work-sans.css";

@layer utilities {
  /* Chrome, Edge, and Safari */
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f1f1f1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 2px solid #f1f1f1;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }

  /* Firefox */
  .scrollbar {
    scrollbar-width: auto;
    scrollbar-gutter: auto;
    scrollbar-color: #cbd5e0 #1f1c1c;
  }
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-gutter: auto;
    scrollbar-color: #cbd5e0 #1f1c1c;
  }
}

.animated-gradient-border {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.animated-gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px; /* border thickness */
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 255, 0.8),
    rgba(0, 255, 255, 0.6),
    rgba(255, 0, 255, 0.3),
    transparent 90%
  );
  background-size: 200% 200%;
  animation: border-gradient-rotate 4s linear infinite;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

@keyframes border-gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.bg-arrow-left {
  background-image: url("../src/assets/arrow-left.png");
}
.bg-gradient-1 {
  background-image: url("../src/assets/gradient1.png");
}
.bg-magic-wand {
  background-image: url("../src/assets/magic-wand.png");
}
